body{
   background-color: black;
}
.box, .box * {
    box-sizing: border-box;
    }
.box {
   background: #e3e3e3;
    width: 1440px;
    height: 1024px;
    position: relative;
    overflow: hidden;
   }

.retangulo {
   background: #232323;
    border-radius: 20px;
    width: 410px;
    height: 497px;
    position: absolute;
    left: 514px;
   top: 263px;
   }

.grupo1 {
   position: absolute;
    inset: 0;
   }

.create-one {
   color: #ffffff;
    text-align: center;
    font: 400 12px 'Inter', sans-serif;
    text-decoration: underline;
    position: absolute;
    left: 517px;
   top: 684px;
    width: 410px;
    height: 32px;
    display: flex;
   align-items: center;
   justify-content: center}

.reset-password {
   color: #ffffff;
    text-align: center;
    font: 400 12px 'Inter', sans-serif;
    text-decoration: underline;
    position: absolute;
    left: 513px;
   top: 649px;
    width: 411px;
    height: 35px;
    display: flex;
   align-items: center;
   justify-content: center}

.grupo3 {
   width: 170px;
    height: 42px;
    position: static;
   }

.retangulo3 {
   background: #851b1b;
    border-radius: 30px;
    width: 170px;
    height: 42px;
    position: absolute;
    left: 637px;
   top: 559px;
   }

.login {
   color: #ffffff;
    text-align: center;
    font: 400 12px 'Inter', sans-serif;
    position: absolute;
    left: 637px;
   top: 559px;
    width: 170px;
    height: 42px;
    display: flex;
   align-items: center;
   justify-content: center}

.grupo2 {
   width: 410px;
    height: 67px;
    position: static;
   }

.retangulo2 {
   background: #ffffff;
    border-radius: 30px;
    width: 275px;
    height: 40px;
    position: absolute;
    left: 581.83px;
   top: 482px;
   }

.password {
   color: #ffffff;
    text-align: center;
    font: 400 12px 'Inter', sans-serif;
    position: absolute;
    left: 514px;
   top: 455px;
    width: 410px;
    height: 27px;
    display: flex;
   align-items: center;
   justify-content: center}

.grupo4 {
   width: 411px;
    height: 67px;
    position: static;
   }

.retangulo5 {
   background: #ffffff;
    border-radius: 30px;
    width: 275px;
    height: 40px;
    position: absolute;
    left: 584px;
   top: 364px;
   }

.user {
   color: #ffffff;
    text-align: center;
    font: 400 12px 'Inter', sans-serif;
    position: absolute;
    left: 514px;
   top: 337px;
    width: 411px;
    height: 27px;
    display: flex;
   align-items: center;
   justify-content: center}

